@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/*
{
    border: 1px solid red;
}*/

body{
    margin: 0;
    color: white; 
    background-color: #000000;
    overflow: hidden !important;
}


#sea{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}

#nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    bottom: 3%;
    z-index: 0;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

#prova{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}