@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/*
{
    border: 1px solid red;
}*/

body{
    margin: 0;
    color: white; 
    background-color: #000000;
    /* overflow: hidden !important; */
    min-height: calc(300vh+ 100vh);
    
}

#credits{
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 0.5rem;
    position: fixed;
    top: 3%;
    right: 3%;
    color: rgb(238, 215, 249);
}

#credits > a {
    text-decoration: none;
    color: rgb(238, 215, 249);
}

#nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: fixed;
    bottom: 3%;
    z-index: 0;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

#nav > a{
    color: white;
    text-decoration: none;
}


#test{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    
}

#text{
    color: black;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    z-index: 1;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    height: calc(300vh+ 100vh);
    overflow-y: scroll;


}

#text > div{
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid red;
    opacity: 1;
    align-self: flex-end;
    scroll-snap-align: start;
    margin-top: 20%;
    margin-bottom: 25%;


    

}
